* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: rgb(6, 9, 31);
  display: flex;
  font-size: 1.3em;
}

a {
  color: white;
  text-decoration: none;
}

li a:hover,
li a:focus {
  color: rgb(187, 36, 111);
  text-decoration: underline;
}

.jumbotron {
  background-color: rgb(6, 9, 31);
}

#kp {
  color: rgb(187, 36, 111);
  text-decoration: none;
}

#name {
  color: rgb(187, 36, 111);
}

.jumbo-text {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.jumbo-img {
  justify-content: center;
  align-items: center;
}

#profile {
  box-shadow: -4px -2px 8px rgb(6, 9, 31), -2.4em -1.4em rgb(187, 36, 111);
  margin: 20px;
}

#logo {
  font-size: 50px;
}

#skills {
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}

#skills li {
  margin-left: 80px;
}

#about-me {
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgb(6, 9, 31);
}

.card-title {
  background-color: rgb(187, 36, 111);
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: bold;
}

.card-link {
  background-color: rgb(6, 9, 31);
  color: white;
  font-weight: bold;
  width: 47%;
  border: 1px solid white;
}

.card-link:hover,
.card-link:focus {
  background-color: rgb(187, 36, 111);
  color: white;
}

.lead {
  font-size: 1.4em;
}

.no-live {
  width: 100%;
}

.headers {
  text-align: center;
}

article {
  margin-top: 100px;
}

#contact {
text-align: center;
}

#contact a:hover,
#contact a:focus {
  text-decoration: none;
  color: rgb(187, 36, 111);
}

.contacts {
  margin-top: 20px;
  margin-bottom: 20px;
}

input,
textarea {
  color: black;
}

footer img {
  max-height: 50px;
  margin: 20px;
}

nav li {
  margin: 10px;
}

.active {
  color:rgb(187, 36, 111);
  text-decoration: underline;
}

#resume {
  justify-content: center;
  align-items: center;
}

#download {
  text-align: center;
  text-decoration:underline;
}

#download:focus,
#download:hover {
  color: rgb(187, 36, 111);
}

button {
  background-color: rgb(187, 36, 111);
  width: 30%;
}